# Python & Virtual Environment
.venv/
venv/
ENV/
env/
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/
*.db
*.sqlite
*.sqlite3

# Jupyter Notebooks
.ipynb_checkpoints/

# Environment files
.env

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/